{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Signup</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="{% static 'css/signup.css' %}">-->
</head>

<body class="p-5">
    <div class="row">
        <div class="col-md-6">
        <p id="logo" class="p-5"><img src="/static/images/logo.png"  class="img-fluid"></p> 
        </div>
        <div class="col-md-6">
        <h2>ユーザー登録</h2>
        <section>
            <form method="post">
                {% csrf_token %}
                {% if form.errors %}
                <p class="alert alert-danger">
                    {% for errors in form.errors.values %}
                    {% for error in errors %}
                    {{ error }}
                    {% endfor %}
                    {% endfor %}
                </p>
                {% endif %}

                <div class="form-group">
                    <label for="id_username">ユーザー名</label>
                    <input type="text" class="form-control" name="username" maxlength="150" autofocus required id="id_username">
                    <small class="text-muted">半角アルファベット、半角数字、@ . + - _ が使えます。</small>
                </div>
                
                <div class="form-group">
                    <label for="id_password1">パスワード</label>
                    <input type="password" class="form-control" name="password1" required id="id_password1">
                    <small class="text-muted">8文字以上で英数字を組み合わせてください。</small>
                </div>
                
                <div class="form-group">
                    <label for="id_password2">パスワードの確認</label>
                    <input type="password" class="form-control" name="password2" required id="id_password2">
                    <small class="text-muted">確認のため、再度パスワードを入力してください。</small>
                </div>

                <button type="submit" class="mr-3 btn btn-success">登録</button>
                <button type="reset" class="btn btn-secondary">リセット</button>
            </form>
        </section>
    </div>
    </div>
</body>

</html>
