{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>

<body>
    <div>
        <h1><strong>Coupon</strong></h1>
        <hr>


        {% block content %}
        <h2>Sign up</h2>
        <section>
            <form method="post">
                {% csrf_token %}
                {% if form.errors %}
                <div>
                    <strong>
                    {% for errors in form.errors.values %}
                    {% for error in errors %}
                    {{ error }}
                    {% endfor %}
                    {% endfor %}
                    </strong>
                </div>
                {% endif %}

                {% for field in form %}
                <div>
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                    <p>{{ field.help_text }}</p>
                    {% endif %}
                </div>
                {% endfor %}
                <button type="submit">Sign up</button>
                <button type="reset">Reset</button>
            </form>
        </section>
        {% endblock %}

    </div>
</body>

</html>
