<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>Coupon | Home</title>
</head>

<body>
  <h1>Home</h1>
  {% if user.is_authenticated %}
  <p>Hi {{ user.username }}</p>
  <a href="{% url 'logout' %}">logout</a>
  <h1>所持クーポン一覧</h1>
  <br>
  {% for coupon in coupons %}
  <h3>{{coupon.coupon_name}}</h3>
  <p>{{coupon.shop.shop_name}}</p>
  <p>{{coupon.coupon_content}}</p>
  <p>期限：{{coupon.limit}}</p>
  <hr>
  {% endfor %}

  {% else %}
  <p>You are not logged in</p>
  <p><a href="{% url 'login' %}">login</a></p>
  {% endif %}
</body>
</html>
