{% load static %}
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>login</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
  </head>
  <body>
    <a href="{% url 'home' %}"><img src="/static/images/logo.png"  width="120" height="100" style="margin: 0 auto;"></a>
    <h2>ログイン</h2>
    <form method="post">
      {% csrf_token %}
      {% if form.errors %}
      <div>
        {% for errors in form.errors.values %}
        {% for error in errors %}
        <p><strong>{{ error }}</strong></p>
        {% endfor %}
        {% endfor %}
      </div>
      {% endif %}

      {% for field in form %}
      <div>
        <strong>{{ field.label_tag }}</strong>
        {{ field }}
        {% if field.help_text %}
        <span>{{ field.help_text }}</span>
        {% endif %}
        {{ field.errors }}
      </div>
      {% endfor %}
      <input type="submit" value="Login" />
    </form>

    <p id="sign_up">初めての方は<a href="{% url 'signup' %}">アカウント作成</a></p>
    <p id="logo"><img src="/static/images/logo.png"  width="280" height="180" style="margin: 0 auto;"></p> 
  </body>
</html>
