{% load static %}
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
  </head>

  <body class="p-5">
    <div class="row">
    <div class="col-md-6">
    <p id="logo" class="p-5"><img src="/static/images/logo.png" class="img-fluid"></p> 
    </div>

    <div class="col-md-6">
    <h2 class="pb-3 text-secondary font-weight-bold">ログイン</h2>
    <form method="post">
      {% csrf_token %}
      {% if form.errors %}
      <div>
        {% for errors in form.errors.values %}
        {% for error in errors %}
        <p class="text-left alert alert-danger">{{ error }}</p>
        {% endfor %}
        {% endfor %}
      </div>
      {% endif %}

      <div class="pb-3">
        <input type="text" name="username" autofocus required id="id_username" class="form-control" placeholder="Username">
      </div>
      
      <div class="pb-3">
        <input type="password" name="password" required id="id_password" class="form-control" placeholder="Password">
      </div>
      
      <button type="submit" class="btn btn-lg btn-success btn-block">ログイン</button>
    </form>
    <button class="btn btn-outline-success btn-block" onclick="location.href='{% url 'signup' %}'">初めての方は登録</button>
  </div>
  </div>
  </body>
</html>
